#login-page .content header {
  margin: 1em;
}

#login-page .content {
  width: 100%;
}

.header-logo {
  display: grid;
  align-items: center;
  grid-template-columns: 10vh 25vh;
  grid-template-areas: 
  "gimg-logo gheader-text";
}

.form-login {
  margin: 80px auto;
  padding: 64px;
  max-width: 730px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
}

.header {
  grid-area: gheader;
}

.img-logo {
  max-width:73px;
  max-height:73px;
  width: auto;
  height: auto;
  grid-area: gimg-logo;
}

.header-text {
  grid-area: gheader-text;
}

.form-group {
  grid-area: gform-login;
}