#login-page .content header {
  margin: 1em;
}

nav {
  padding: 10px;
}

#login-page .content {
  width: 100%;
}

.header-logo {
  display: grid;
  align-items: center;
  grid-template-columns: 10vh 13vh;
  grid-template-areas: 
  "gimg-logo gheader-text";
}

.back-button {
  margin: 30px 30px;
}

.form-login {
  margin: 60px auto;
  padding: 64px;
  max-width: 930px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.header {
  grid-area: gheader;
}

.img-logo {
  max-width:73px;
  max-height:73px;
  width: auto;
  height: auto;
  grid-area: gimg-logo;
}