.profile-friend-picture {
  max-width:33px;
  max-height:33px;
  width: auto;
  height: auto;
  border-radius: 50%;
}

@media (min-width: 960px) {
    #lista-amigos {
        position: absolute;
        bottom: 0;
        right: 1%;
        max-width: 20%;
      }
}
