#config-page header {
  margin: 1em;
}

.profPic {
  height: 300px;
  border-radius: 10px;  
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0;
}

.profPic img {
  width: 100%;
  height: 100%; 
  object-fit: cover;
}

.header-logo {
  display: grid;
  align-items: center;
  grid-template-columns: 10vh 13vh;
  grid-template-areas: 
  "gimg-logo gheader-text";
}

.header-information {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-picture {
  max-width:93px;
  max-height:93px;
  width: auto;
  height: auto;
  border-radius: 50%;
}

.back-button {
  margin: 30px 30px;
  cursor: pointer;
}

.form-config {
  margin: 60px auto;
  padding: 24px;
  max-width: 1030px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.header {
  grid-area: gheader;
}

.img-logo {
  max-width:73px;
  max-height:73px;
  width: auto;
  height: auto;
  grid-area: gimg-logo;
}